[submodule "samples/EVTX-ATTACK-SAMPLES"]
	path = samples/EVTX-ATTACK-SAMPLES
	url = https://github.com/sbousseaden/EVTX-ATTACK-SAMPLES.git
[submodule "sigma-windows"]
	path = src/sigma-master
	url = https://github.com/SigmaHQ/sigma.git
[submodule "chainsaw-rules"]
	path = src/chainsaw-rules
	url = https://github.com/WithSecureLabs/chainsaw.git
